<!DOCTYPE html>
<html lang="en">
<body>
    
<head class="header">
    <title>Task Manager</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	  <link rel="stylesheet" href="styles/styles.css">
    <header>
        <nav class="navbar navbar-expand-sm fixed-top">
          <div class="container-fluid">
            <ul class="navbar-nav">
              <li class="nav-item">
                <h1>Task Manager</h1>
              </li>
            </ul>
          </div>
        </nav>
    </header>   
</head>

<form class="registerForm" action="/register" method="POST">  
  <div class="form-group">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="messageContainer">
        {% for message in messages %}
           {% if message == "Failure" %} 
            <div class='alert alert-danger alert-dismissible fade show'><button type='button' class='btn-close' data-bs-dismiss='alert'></button><strong>Failed to Register!</strong> Email and/or Password were invalid. An account may already exist with that email. Please try again</div>
           {% endif %}
           {% if message == "Success" %} 
            <div class="alert alert-success alert-dismissible fade show"><button type="button" class="btn-close" data-bs-dismiss="alert"></button><strong>Success!</strong>You may now login with your new account!</div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <label>Stay on top of your schedule today</label>
      <input type="email" class="form-control" placeholder="Email" name="email" id="email">
      <input type="name" class="form-control" placeholder="Name" name="name" id="name">
      <input type="password" class="form-control" placeholder="Password" name="password" id="password">
      <div class="buttonContainer">
        <input type="submit" class="btn btn-primary" value="Register" name="register" id="register">
        <a href="/login" class="btn btn-secondary btn-lg" role="button" id="login">Back to Login</a>
      </div>
    </div>    
</form>
</body>